* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: #3f87a6;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 500px;
}

nav {
  background-color: #f69d3c;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 500px;
  justify-content: flex-end;
}

nav a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;
}

.colin {
  flex: 1;
  flex-direction: column;
  align-self: flex-start;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  margin-left: 30px;
}

.bio {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: right;
}

.right {
  flex: 2;
  justify-content: right;
  text-align: right;
}

.projects {
  flex: 4;
  background-color: #f69d3c;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  main,
  nav aside {
    flex-direction: column;
  }
}
